/* HOD */
  .h5 , .h3{
    color: rgb(0, 0, 0);
  }

  .eye{
    color: rgb(100, 107, 114);
  }
  
  .cards {
   margin-top: 50px;
   gap: 15px;
   padding: 5px;
   margin-bottom: 100px;
   box-shadow: 1px 0px 3px 3px rgb(184, 184, 184);
  }


  .icons{
    background: white;
  }

  .hodbtn{
        background-color: #d5181c;
        color: white;
        border:none;
        outline: none;
        
      }
  .hodbtn:hover{
        color: white;
        border:none;
        background-color: #b11518;
  }


  .card-header,.card-footer{
    background: white;
    color: black;
  }

  
  /* staffDetails */
  .btnlist {
      border :1px solid #030303;
      color: #000000;
      background: white;
      border-radius: 10px;
      outline: none;
      padding: 0;
    }
    .btnlist:hover{
    border :1px solid #d5181c;
    background:#d5181c;
    color: white;
  }
