*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-control,.form-select
{
    border-color: none !important;
    box-shadow: unset !important;
}
.no-border-dropdown .dropdown-toggle,
.no-border-dropdown .dropdown-menu {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.no-border-dropdown .dropdown-item:focus,
.no-border-dropdown .dropdown-item:active {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
