*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Merriweather', serif; */
    font-family: 'Playfair Display', serif;
    font-family: 'Lato', sans-serif;
    

}
.form-control,.form-select
{
    border-color: none !important;
    box-shadow: unset !important;

}
.no-border-dropdown .dropdown-toggle,
.no-border-dropdown .dropdown-menu {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.no-border-dropdown .dropdown-item:focus,
.no-border-dropdown .dropdown-item:active {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
/* Footer */
.footer-glass {
  /* background: rgba(253, 255, 255, 0.767); Light transparency */
  background: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-top: 2px solid rgba(0, 123, 255, 0.3); 
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
  padding:  5px;
  transition: background 0.3s ease-in-out;
}

.footer-glass .footer-icon:hover {
  transform: scale(1.2);
  color: #0d6efd !important; /* Bootstrap primary */

} 

.footer-icon {
  color: #333;
  transition: all 0.3s ease;
  padding: 8px;
  font-size: 30px;
  border-radius: 50%;
}

.footer-icon.active-icon {
  color: white;
  font-size: 30px;
  background-color: #007bff; /* Bootstrap Primary Blue */
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.7);
}

